.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f0f0f0;
  gap: 20px;
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
